<div class="audit-log-header"></div>
<div class="logs-container">
    <div class="log-item"></div>
    <div class="log-item"></div>
    <div class="log-item"></div>
    <div class="log-item"></div>
    <div class="log-item"></div>
    <div class="log-item"></div>
    <div class="log-item"></div>
    <div class="log-item"></div>
    <div class="log-item"></div>
    <div class="log-item"></div>
    <div class="log-item"></div>
    <div class="log-item"></div>
    <div class="log-item"></div>

</div>
