<div class="loans-header">
    <p id="loans-number">180 rents currently</p>
    <button (click)="openAddLoan()" id="add-loan">Add loan</button>
</div>
<div class="loans-nav"></div>
<!--
<table class="loans-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Student</th>
            <th>Book</th>
            
            <th>Loan date</th>
            <th>Due date</th>
            <th>Return date</th>
            <th>Status</th>
        </tr>        
    </thead>
    <tbody>
        <tr *ngFor="let item of itemsArray" (click)="openEditLoan()" >
            <td>1</td>
            <td>
                <div class="student-img"></div>
                <div class="student-data">
                    <p class="student-name">Edis Jasarevic</p>
                    <p class="student-mail">e.jasarevic03&#64;gmail.com</p>
                </div>
            </td>
            <td>
                <div class="book-img"></div>
                <div class="book-data">
                    <p class="book-id">#623ab7</p>
                    <p class="book-name">Kako ukrotiti zmaja</p>
                </div>
            </td>
            
            <td>27 Feb 2020</td>
            <td>13 Mar 2020</td>
            <th>13 Mar 2020</th>
            <td>
                <div class="status-tag">Returned on time</div>
                
            </td>
        </tr>
        
        
        
    </tbody>
</table>
-->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="student">
      <th mat-header-cell *matHeaderCellDef> Student </th>
      <td mat-cell *matCellDef="let element"> {{element.user.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="book">
      <th mat-header-cell *matHeaderCellDef> Book </th>
      <td mat-cell *matCellDef="let element"> {{element.book.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status</th>
      <td mat-cell *matCellDef="let element"> "ACTIVE" </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator class="paginator" [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
</mat-paginator>

