/*
<button class="back"></button>
<div class="main-container">
    <div class="book-cover-section"></div>
    <div class="book-data-section">
        <p class="book-title">Bald Bearded Boss</p>
        <div class="publish-info">
            <p class="author-name">By Elliot Holt </p>
            <P>|</P>
            <p class="publish-date">Feb 2020</p>
        </div>
        <div class="book-rating-section">
            <p class="review-number">27</p>
        </div>
        <div class="book-categories-section">
            <div class="book-category-tag">Time travel</div>
            <div class="book-category-tag">Time travel</div>
            <div class="book-category-tag">Time travel</div>
        </div>
        <p class="book-description"></p>
    </div>
</div>
*/
:host {
    width: calc(100% - 200px);
    //min-height: calc(100vh - 60px);
    margin-top: 60px;
    margin-left: 200px;
    background-color: rgb(234, 242, 248);
    display: flex;
    flex-direction: column;
    .back {
        width: 100px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        //background-color: lightblue;
        border: none;
        cursor: pointer;
        background: transparent;
        margin-top: 20px;
        margin-left: 30px;
        svg {
            height: 20px;
            width: 20px;
        }
        p {
            font-size: 20px;
        }
    }
    .main-container {
        margin-top: 30px;
        display: flex;
        width: 100%;
        height: 360px;
        //background-color: aquamarine;
        .book-cover-section {
            //background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            height: 360px;
            img {
                width: 200px;
                height: 300px;
                
            }
        }
        .book-data-section {
            width: 60%;
            height: 300px;
            display: flex;
            flex-direction: column;
            .book-title {
                margin-top: 25px;
                font-size: 25px;
                font-weight: bold;
            }
            .publish-info {
                display: flex;
                margin-top: 7px;
            }
            .book-rating-section {
                display: flex;
                margin-top: 7px;
                align-items: center;
                svg {
                    width: 20px;
                    height: 20px;
                    fill: orange;
                }
                .review-number {
                    margin-left: 10px;
                }
            }
            .book-categories-section {
                display: flex;
                margin-top: 20px;
                .book-category-tag {
                    margin-right: 10px;
                    width: 140px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: lightblue;
                    border-radius: 10px;
                }
            }
            .book-description {
                margin-right: 100px;
                margin-top: 10px;
                min-height: 100px;
                //background-color: red;
            }
            .copies-data {
                
                margin-top: 20px;
                display: flex;

                .copies-info {
                    width: 150px;
                    gap: 10px;
                    display: flex;
                }
            }
        }
    }
    .book-nav {
        margin-left: 100px;
        width: calc(100% - 200px);
        .author-tab {
            margin-left: 50px;
            width: calc(100% - 100px);
            height: 300px;
            display: flex;
            background-color: white;
            margin-top: 50px;
            margin-bottom: 100px;
            .left-section {
                width: 200px;
                height: 100%;
                display: flex;
                //background-color: red;
                align-items: center;
                justify-content: center;
                .author-img {
                    width: 160px;
                    height: 160px;
                    display: flex;
                    border-radius: 50%;
                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 50%;
                    }
                }
            }
            .right-section {
                width: calc(100% - 200px);
                height: 100%;

                .author-name {
                    margin-top: 10px;
                    font-size: 20px;
                    font-weight: bold;
                }
                .author-description {
                    width: calc(100% - 20px);
                    height: 100px;
                    margin-top: 10px;
                    //background-color: lightblue;
                }
                .more {
                    font-size: 13px;
                    margin-top: 10px;
                }
                .more-books {
                    margin-top: 5px;
                    width: 100%;
                    height: 110px;
                    display: flex;
                    gap: 20px;
                    //background-color: lightblue;
                    img {
                        
                        height: 110px;
                        //width: 40px;
                        display: flex;
                    }
                }
            }
        }
        .reviews-tab {
            margin-left: 50px;
            width: calc(100% - 100px);
            //min-height: 300px;
            display: flex;
            flex-direction: column;
            //background-color: white;
            margin-top: 50px;
            margin-bottom: 200px;
            .review-item {
                width: 100%;
                display: flex;
                min-height: 100px;
                background-color: white;
                border-radius: 10px;
                margin-top: 10px;
                .left-section {
                    width: 100px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    //background-color: red;
                    align-items: center;
                    .profile-img {
                        margin-top: 30px;
                        width: 75px;
                        height: 75px;
                        background-color: lightgrey;
                        border-radius: 50%;
                        img {
                            width: 100%;
                            height: 100%;
                            border-bottom: 50%;
                        }
                    }
                    
                }
                .right-section {
                    width: calc(100% - 100px);
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .name {
                        font-size: 15px;
                        margin-top: 10px;
                    }
                    .rate-section {
                        svg {
                            fill: orange;
                        }
                        height: 20px;
                        display: flex;
                        width: 200px;
                        margin-top: 5px;
                        gap: 5px;
                        //background-color: lightblue;
                    }
                    .review-section {
                        margin-top: 5px;
                        min-height: 80px;
                        display: flex;
                        width: calc(100% - 20px);
                        background-color: rgb(219, 226, 229);
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .history-tab {
            padding-top: 30px;
            .history-item {
                width: 100%;
                height: 50px;
                display: flex;
                background-color: white;
                border-radius: 8px;
                margin-top: 10px;
            }
        }
    }
    /*
    .lower-section {
        //justify-content: space-evenly;
        display: flex;
        .about-author {
            margin-left: 50px;
            width: 330px;
            height: 300px;
            display: flex;
            background-color: white;
            margin-top: 50px;
        }
        .rent-history {
            .rent-history-header {
                //width: 100%;
                display: flex;
                //background-color: red;
                margin-top: 20px;
                margin-left: 50px;
                p {
                    font-size: 20px;
                }
            }
            .rent-history-row {
                width: 500px;
                height: 50px;
                background-color: white;
                display: flex;
                align-items: center;
                p {
                    margin-left: 30px;
                }
                border-radius: 8px;
                //border: 1px solid black;
                margin-left: 50px;
                margin-top: 10px;
            }
            .rent-history-row:last-of-type {
                margin-bottom: 100px;
            }
        }
    }*/
}   