<p id="title">Profile settings</p>
<p class="section-title">PROFILE INFORMATION</p>
<div class="section-line"></div>
<div class="section">
    <p class="section-item-title">Profile image</p>
    <p class="section-item-subtitle">Set a display name. This doesn't change your username</p>
    <img src="" alt="">
    <p class="section-item-title">Display name</p>
    <p class="section-item-subtitle">Set a display name. This doesn't change your username</p>
    <input type="text" name="display-name" id="display-name">
    
</div>
<p class="section-title">ACCOUNT PREFERENCES</p>
<div class="section-line"></div>
<div class="section">
    <p class="section-item-title">Username</p>
    <p class="section-item-subtitle">ejasarevic3</p>
    <input type="text" name="display-name" id="display-name">
    <p class="section-item-title">Email address</p>
    <p class="section-item-subtitle">e.jasarevic03&#64;gmail.com</p>
    <input type="text" name="display-name" id="display-name">
    <p class="section-item-title">Password</p>
    <p class="section-item-subtitle">Change the password</p>
    <input type="text" name="display-name" id="display-name">
</div>
