:host {
    width: calc(100% - 50px);
    //min-height: calc(100vh - 60px);
   
    background-color: rgb(234, 242, 248);
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    #title {
        margin-top: 40px;
        font-size: 20px;
        //margin-bottom: 40px;
    }
    .section-title {
        font-size: 13px;
        font-weight: bold;
        color: grey;
        margin-top: 40px;
    }
    .section-line {
        margin-top: 5px;
        width: 650px;
        height: 1px;
        display: flex;
        background-color: rgb(206, 206, 206);
    }
    .section {
        display: flex;
        margin-top: 10px;
        width: 650px;
        flex-direction: column;
        //background-color: lightblue;
        //height: 50px;
        .section-item-title {
            font-size: 16px;
        }
        .section-item-subtitle {
            font-size: 12px;
        }
        input {
            background: transparent;
            border: 1px solid rgb(213, 213, 213);
            width: 645px;
            height: 50px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        img {
            width: 150px;
            height: 150px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}