:host {
    width: calc(100% - 200px);
    margin-left: 200px;
    height: 60px;
    display: flex;
    background-color: rgb(255, 255, 255);
    position: fixed;
    align-items: center;
    justify-content: space-between;
    p {
        margin-left: 30px;
        font-size: 20px;
    }
    .nav {
        width: 200px;
        height: 40px;
        display: flex;
        //background-color: lightblue;
        margin-right: 20px;
        align-items: center;
        justify-content: space-between;
        
           
            //background-color: red;
            .bell-icon {
                transform: scale(1.1);
            }
        
        .profile-container {
            height: 40px;
            width: 170px;
            display: flex;
            justify-content: space-evenly;
            //background-color: rgb(227, 242, 249);
            align-items: center;
            .profile-img {
                height: 35px;
                width: 35px;
                display: flex;
                //background-color: rgb(143, 157, 177);
                border-radius: 50%;
                background: url("https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png");
                background-size: cover;
            }
            .profile-data {
                width: 110px;
                height: 40px;
                //background-color: gray;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                
                #profile-name {
                    font-size: 14px;
                    margin-left: 0;
                padding-left: 0;
                }
                #profile-role {
                    font-size: 13px;
                    margin-left: 0;
                padding-left: 0;
                }
            }
        }
    }
}