:host {
    width: calc(100% - 200px);
    margin-top: 60px;
    margin-left: 200px;
    background-color: rgb(185, 211, 230);
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);
    .notifications-header {
        height: 50px;
        display: flex;
        background-color: red;
        width: calc(100% - 100px);
        margin-left: 50px;
        margin-top: 50px;
    }
    .notifications-list {
        display: flex;
        flex-direction: column;
        width: calc(100% - 100px);
        margin-top: 50px;
        background-color: bisque;
        margin-left: 50px;
        
    }
}