
:host {
    width: calc(100% - 200px);
    //min-height: calc(100vh - 60px);
    margin-top: 60px;
    margin-left: 200px;
    background-color: rgb(234, 242, 248);
    display: flex;
    flex-direction: column;
    .back {
        width: 100px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        //background-color: lightblue;
        border: none;
        cursor: pointer;
        background: transparent;
        margin-top: 20px;
        margin-left: 30px;
        svg {
            height: 20px;
            width: 20px;
        }
        p {
            font-size: 20px;
        }
    }
    .student-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        height: 360px;
        img {
            width: 200px;
            height: 300px;
            
        }
    }
    .student-data-container {
        width: 60%;
        height: 300px;
        display: flex;
        flex-direction: column;
    }
}   