:host {
    width: calc(100% - 200px);
    //min-height: calc(100vh - 60px);
    margin-top: 60px;
    margin-left: 200px;
    background-color: rgb(234, 242, 248);
    display: flex;
    flex-direction: column;
    //min-height: 100vh;
    .audit-log-header {
        width: 700px;
        height: 60px;
        display: flex;
        align-items: center;
        //background-color: lightblue;
        margin-top: 10px;
        margin-left: 50px;
        justify-content: space-between;
        p {}
        .log-nav {
            gap: 10px;
            display: flex;
            div {
                display: flex;
                gap: 10px;
                button {
                    width: 50px;
                }
                .user-dropdown {
                    display: none;
                    position: absolute;
                    width: 300px;
                    height: 350px;
                    background-color: white;
                    
                    margin-top:20px;
                }
            }
        }
        
    }
    .logs-container {
        margin-top: 20px;
        width: 700px;
        margin-left: 50px;

        display: flex;
        flex-direction: column;
        .log-item {
            margin-top: 5px;
            .main {
                border-radius: 10px;
                width: 700px;
                height: 60px;
                display: flex;
                border: 1px solid rgb(177, 177, 177);
                //margin-bottom: 5px;
                align-items: center;
                .log-img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    display: flex;
                    background-color: lightblue;
                    margin-left: 10px;
                }
                .log-data {
                    margin-left: 10px;
    
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    .log-text {
                        font-size: 17px;
                    }
                    .log-date {
                        font-size: 13px;
                    }
                }
            }
            .expanded {
                margin-bottom: 5px;
                height: 250px;
                width: 700px;
                display: none;
                background-color: white;
            }
        }
    }





    table {
        min-width: 0;//needed to override material styling
        width: calc(100% - 100px);
        margin-left: 50px;
        background-color: rgb(177, 234, 255);
        margin-top: 50px;
        //margin-bottom: 100px;
        thead {}
        tbody {
            tr {
                background: none;
                min-height: 0px;
                height: 30px;
                background-color: red;
            }
            td {}
        }
        
    }
    mat-paginator {
        min-width: 0;//needed to override material styling
        width: calc(100% - 100px);
        margin-left: 50px;
        margin-bottom: 100px;
    }
    /*
    .mdc-data-table__table {
        max-width: 500px;
        min-width: 0;
    }*/
}