<div class="books-header">
    <p id="books-number">180 Books</p>
    <button id="add-book">Add book</button>
</div>
<div class="books-nav"></div>

    <div class="books-grid">
        <app-book-card (click)="openBook()" ></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>
        <app-book-card></app-book-card>

    </div>
   