@import '../../style/mixins';
:host {
    width: calc(100% - 200px);
    margin-top: 60px;
    margin-left: 200px;
    background-color: #f0f1f3;
    
    display: flex;
    flex-direction: column;
    .books-header {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        margin-left: 50px;
        width: calc(100% - 100px);
        #books-number {
            font-size: 20px;
        }
        .header-buttons {
            display: flex;
            gap: 10px;
            #add-book {
                @include fullyCenteredContent;
                width: 130px;
                height: 30px;
                
                background-color: lightseagreen;
                border: none;
                
                color: white;
            }
            #add-instances {
                @include fullyCenteredContent;
                width: 130px;
                height: 30px;
                
                background-color: lightseagreen;
                border: none;
                
                color: white;
            }
            #edit-categories {
                @include fullyCenteredContent;
                width: 130px;
                height: 30px;
                
                background-color: lightseagreen;
                border: none;
                
                color: white;
            }
        }
    }
    .books-nav {
        width: calc(100% - 100px);
        margin-left: 50px;
        margin-top: 10px;
        min-height: 60px;
        @include horizontalyCenteredContent;
        background-color: rgb(255, 255, 255);
        
        justify-content: space-evenly;
        .form-field {
            display: flex;
            flex-direction: column;
            label {
                font-size: 13px;
            }
            select {
                width: 250px;
                height: 30px;
            }
        }
        #searchbar {
            height: 30px;
            width: 300px;
        }
        .reset-filters {
            @include fullyCenteredContent;
            border: none;
            border-radius: 8px;
            margin-top: 5px;
            width: 80px;
            margin-top: 15px;
            height: 30px;
            background-color: rgb(195, 92, 92);
            
            color: white;
            font-size: 11px;
        }
        
    }
    .books-grid {
        width: calc(100% - 100px);
        margin-left: 50px;
        margin-top: 20px;
        min-height: 400px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    background-color: #f0f1f3;
           
        row-gap: 20px;
    }
    .paginator {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}