@mixin fullyCenteredContent {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin horizontalyCenteredContent {
    display: flex;
    align-items: center;
}
@mixin verticallyCenteredContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}