:host {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgb(216, 240, 252);
    align-items: center;
    justify-content: center;
    .login-box {
        width: 450px;
        height: 500px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 12px;
        border-radius: 10px;            
        box-shadow: 0 3px 15px rgba(51, 51, 51, 0.2);
        form {
            display: flex;
            flex-direction: column;
            width: 90%;
            align-self: center;
            margin-top: 200px;
            .usernameOrEmailField {
                //background-color: blue;
                height: 110px;
            }
            .passwordField {
                //background-color: blue;
                height: 110px;
            }
            .error {
                color: white;
                background-color: rgb(253, 88, 88);
                height: 30px;
                width: calc(100% - 10px);
                display: flex;
                align-items: center;
                margin: 0px;
                //font-size: 14px;
                border-radius: 5px;
                padding-left: 12px;
                margin-top: 3px;
                font-size: 13px
            }
            label {
                margin-bottom: 5px;
            }
            input {
                margin-bottom: 5px;
                height: 50px;
	            font-size: 16px;
	            border: 2px solid #d1d3d4;
                width:calc(100% - 12px);

	            //padding: 12px;
                padding-left: 12px;
	            font-family: "Poppins";
	            border-radius: 6px;
	            color: #111;
	            background: #fff;
                &:focus,
                &.active {
                    outline: none;
                    border-color: #03a9f4;
                }
                &:disabled {
                    cursor: not-allowed;
                    background: #f2f2f2;
                    opacity: 0.6;
                }
                &.input--lg {
                    height: 56px;
                 font-size: 18px;
                 padding: 15px;
             }
            }
            
            .submit-login {
                margin-top: 30px;
                align-self: center;
                height: 45px;
                width: 100%;
                background-color: rgb(43, 45, 68);
                color: white;
                border: none;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }
}