<div class="login-box">
    <div class="logo-container"></div>
    <div class="login-title"></div>
    <form [formGroup]="loginForm" action="" (ngSubmit)="login()">
        <label for="username">Username or email</label>
        <input formControlName="usernameOrEmail" type="text" id="username-or-email" placeholder="email@email.com">
        <label for="password">Password</label>
        <input formControlName="password" type="password" id="password" placeholder="Password (At least 8 characters)">
        <button type="submit" [disabled]="!loginForm.valid" class="submit-login">Login</button>
    </form>
    
</div>
