<div class="students-header">
    <p id="students-number">180 students</p>
    <button id="add-student">Add student</button>
</div>
<div class="students-nav"></div>
<table class="students-table">
    <thead>
        <tr>
            
            <th>Full Name</th>
            <th>Join Date</th>
        </tr>        
    </thead>
    <tbody>
        <tr>          
            <td>
                <img src="" alt="">
                <p>Edis Jasarevic</p>
            </td>
            <td>27/01/2003</td>
        </tr>
        
    </tbody>
</table>
