<div class="students-header">
    <p id="students-number">180 students</p>
    <button id="add-student">Add student</button>
</div>
<div class="students-nav"></div>
<div class="students-grid">
    <app-student-card></app-student-card>
    <app-student-card></app-student-card>
    <app-student-card></app-student-card>
    <app-student-card></app-student-card>
    <app-student-card></app-student-card>
    <app-student-card></app-student-card>
    <app-student-card></app-student-card>
    <app-student-card></app-student-card>
    <app-student-card></app-student-card>
    <app-student-card></app-student-card>

</div>