<div class="books-header">
    <p id="books-number">180 Books</p>
    <div class="header-buttons">
        <button (click)="openEditCategories()" id="edit-categories">Edit categories</button>
        <button (click)="openAddBook()" id="add-book">Add book</button>
        <button (click)="openAddInstances()" id="add-instances">Add instances</button>
    </div>
</div>
<div class="books-nav">
    <div class="form-field">
        <label for="category-select">Category</label>
        <select name="category-select" id="category-select">
            <option value="">All</option>
            <option value="">All</option>
            <option value="">All</option>
            <option value="">All</option>
        </select>
    </div>
    <div class="form-field">
        <label for="order-select">Order by</label>
        <select name="order-select" id="order-select">
            <option value="">All</option>
            <option value="">All</option>
            <option value="">All</option>
            <option value="">All</option>
        </select>
    </div>
    <div class="form-field">
        <label for="searchbar">Search</label>
        <input type="search" name="searchbar" id="searchbar">
    </div>
    <button class="reset-filters">RESET</button>
</div>


    <div class="books-grid">
        <app-book-card [routerLink]="['/books/1']"></app-book-card>
        <app-book-card [routerLink]="['/books/1']"></app-book-card>
        <app-book-card [routerLink]="['/books/1']"></app-book-card>
        <app-book-card [routerLink]="['/books/1']"></app-book-card>
        <app-book-card [routerLink]="['/books/1']"></app-book-card>
        <app-book-card [routerLink]="['/books/1']"></app-book-card>
        <app-book-card [routerLink]="['/books/1']"></app-book-card>
        <app-book-card [routerLink]="['/books/1']"></app-book-card>
        <app-book-card [routerLink]="['/books/1']"></app-book-card>
        <app-book-card [routerLink]="['/books/1']"></app-book-card>
        <app-book-card [routerLink]="['/books/1']"></app-book-card>
        <app-book-card [routerLink]="['/books/1']"></app-book-card>
        <app-book-card [routerLink]="['/books/1']"></app-book-card>
        

        <!--
            @for (book of booksList; track book.title) {
            <app-book-card [routerLink]="['/books/1']"></app-book-card>
        } @empty {
            <p>No books yet</p>
        }
        -->

        <!--<app-book-card *ngFor="let book of booksList" [routerLink]="['/books/1']"></app-book-card> -->
    
    </div>

<mat-paginator class="paginator" [length]="100"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page">
</mat-paginator>
   