<div class="loans-header">
    <p id="loans-number">180 rents currently</p>
    <button id="add-loan">Add loan</button>
</div>
<div class="loans-nav"></div>
<table class="loans-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Book</th>
            <th>Book Id</th>
            <th>Loan date</th>
            <th>Return date</th>
            <th>Status</th>
        </tr>        
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Edis Jasarevic</td>
            <td>Na Drini Cuprija</td>
            <td>#67bc7a</td>
            <td>27 Feb 2020</td>
            <td>13 Mar 2020</td>
            <td><div class="status-tag">Returned on time</div></td>
        </tr>
        
        
    </tbody>
</table>

