<div class="loans-header">
    <p id="loans-number">180 rents currently</p>
    <button id="add-loan">Add loan</button>
</div>
<div class="loans-nav"></div>
<table class="loans-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Full Name</th>
            <th>Join Date</th>
        </tr>        
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Edis Jasarevic</td>
            <td>27/01/2003</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Edis Jasarevic</td>
            <td>27/01/2003</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Edis Jasarevic</td>
            <td>27/01/2003</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Edis Jasarevic</td>
            <td>27/01/2003</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Edis Jasarevic</td>
            <td>27/01/2003</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Edis Jasarevic</td>
            <td>27/01/2003</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Edis Jasarevic</td>
            <td>27/01/2003</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Edis Jasarevic</td>
            <td>27/01/2003</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Edis Jasarevic</td>
            <td>27/01/2003</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Edis Jasarevic</td>
            <td>27/01/2003</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Edis Jasarevic</td>
            <td>27/01/2003</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Edis Jasarevic</td>
            <td>27/01/2003</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Edis Jasarevic</td>
            <td>27/01/2003</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Edis Jasarevic</td>
            <td>27/01/2003</td>
        </tr>
        
    </tbody>
</table>

